.container {
	padding: 24px 0;
	backdrop-filter: blur(10px);
	border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.sectionHeader {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}

.sectionBadge {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.sectionBadge h2 {
	font-size: 30px;
}

.viewAll {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	color: #a855f7;
	text-decoration: none;
}

.cardContainer {
	display: grid;

	grid-template-columns: repeat(2, 1fr);

	gap: 12px;
}
