.container {
	padding: 24px 0;
	backdrop-filter: blur(10px);
	border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.sectionHeader {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}

.sectionBadge {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.sectionBadge h2 {
	font-size: 30px;
}

.viewAll {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	color: #a855f7;
	text-decoration: none;
}

.cardContainer {
	display: grid;

	grid-template-columns: repeat(2, 1fr);

	gap: 12px;
}

@media (max-width: 1024px) {
	.cardContainer {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 768px) {
	.sectionHeader {
		flex-direction: column;

		align-items: flex-start;

		gap: 20px;
	}

	.sectionBadge h2 {
		font-size: 26px;
	}

	.cardContainer {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 393px) {
	.sectionHeader {
		align-items: center;

		text-align: center;
	}

	.sectionBadge {
		flex-direction: column;
	}

	.sectionBadge h2 {
		font-size: 24px;
	}

	.viewAll {
		font-size: 14px;
	}

	.cardContainer {
		gap: 20px;
	}
}
