.container {
	backdrop-filter: blur(10px);
	border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.content {
	max-width: 1200px;

	margin: 0 auto;

	padding: 0 24px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 82px;
	padding: 12px;
}
