*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;

	width: 100%;

	overflow-x: hidden;
}

body {
	min-height: 100vh;

	background-color: #0c0c13;

	color: #fff;

	font-family: 'Work Sans', sans-serif;
}
